*{
    
    margin: 0px;
    padding: 0px;
    background-color: black;
}
body{
    min-width: 300px;
}
header{
    position: fixed;
    background-color: transparent;
    padding: 1%;

}
header nav{
    
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
}
header nav ul{
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
}
header nav ul li{
    
    background-color: transparent;
}
header nav ul li a{
    text-shadow: .5px .5px 1px #AEB6BF; 
    background-color: transparent;
    color: #D0D3D4;
}
article{
    display: block;
    align-content: center;
    align-items: center;
    width: 100%;
}

  @keyframes aparecer {
    from {
      opacity: 0%;
      }
  
    to {
      opacity: 100%;
    }
  }
  .parallax {
    /*efecto de animacion*/
    animation-duration: 6s;
    animation-name: aparecer;
    animation-delay: 100ms;
    
    
  
    /* modifica el alto de la imagen */
    min-height: 23em; 
  
    /* Efecto parallax cuando hace scroll */
    
    background-position-y: initial;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    /*posicionar texto y cuadro al centro*/
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .parallax .cuadro{
    animation-duration: 4s;
    animation-name: aparecer;
    animation-delay: 0ms;
      width: auto;
      height: auto;
      background-color: transparent;
      border: 1px solid rgba(214, 219, 223, 1);
      color:rgba(214, 219, 223, 1);
      font-family: 'Megrim', cursive;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 50px;
      }
.parallax .cuadro strong{
    
    background-color: transparent;
    padding: 5px;
    font-size: 2em;
}

.content-info{
    
    animation-duration: 20s;
    animation-name: aparecer;
    animation-delay: 0ms;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    color: rgba(214, 219, 223, 1);
    font-size: 100px;
    padding: 5% 20px 20px 20px;
    display: flex;
    justify-content: space-around;
    width: 90%;
    flex-direction: row;
}
.content-info .descripcion{
    border-radius: 5px;
    background: repeating-linear-gradient(
        45deg,
        rgba(70, 70, 70, 0.5) 1px,
        rgba(82, 81, 81, 0.5) 1px,
        #000 2px,
        #000 60px
      );
    border: 1px solid rgba(214, 219, 223, 1);
    height: auto;
    width: 67.5%;
    
}
.content-info .descripcion .sobremi{
    background-color: transparent;
    font-size: .23em;
    margin-left: 2em;
    font-family: "Abel", Arial, Helvetica, sans-serif;
    padding-top: 1.5em;
    line-height: .8em;
    margin-right: 2em;
}
.content-info .descripcion i{
    font-size: 2em;
    
}
.content-info .descripcion strong{
    font-size: 1.1em;
    
}
.content-info .descripcion {
    font-size: .7em;
}
.content-info .descripcion p{
    line-height: 1.3em;
}

.content-info .espacio{
width: 5%;
}
.content-info .perfil{
    border-radius: 5px;
    border: 1px solid rgba(214, 219, 223, 1);
    height: 6em;
    width: 27.5%;
    background: repeating-linear-gradient(
        45deg,
        rgba(70, 70, 70, 0.5) 1px,
        rgba(82, 81, 81, 0.5) 1px,
        #000 2px,
        #000 60px
      );
      display: flex;
      flex-direction: column;
      font-family: "Abel", sans-serif;
}
.content-info .perfil .rostro{
    background-color: transparent;
    height: 50%;
}
.content-info .perfil .rostro .cara{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
    background-image: url('../images/perfil.jpg');
    background-repeat: no-repeat;
    background-size: 2.0em;
    background-position: center;
    background-position-y: center;
    height: 2em;
    width: 2em;
    }
.content-info .perfil .resumen{
    background-color: transparent;
    padding: .1em;
    height: 2.5em;
    font-size: .2em;
    margin-left: 10%;
    }
.content-info .perfil .resumen .redes{
    
    height: 1.2em;
    
    
}
.content-info .perfil .resumen .redes a{
    padding: 7px;
    padding-left: 0;
    
}
.content-info .perfil .resumen .redes .mail:hover{
    color: #ff5930; }

.content-info .perfil .resumen .redes .facebook:hover{
    color: #3b5998; }

.content-info .perfil .resumen .redes .spotify:hover{
    color: #1db954; }

.content-info .perfil .resumen .redes .instagram:hover{
    color: #3f729b; }

    @media (max-width:945px){
        .menu-ancho{
            display:none;
        }
        .content-info .descripcion{
    width: 100%;
     }
    .content-info{
        width: 90%;
       flex-direction: column;
    }
    .descripcion{
        width: 90%;
        margin-bottom: 5%;
    
    }
    .sobremi{
        background-color: transparent;
        width: 90%;
        margin-bottom: 5%;
    }
    .sobremi p{
        width: 90%;
    }
    
    .content-info  .perfil{
    width: 100%;
    margin-bottom: 5%;
}
.content-info .perfil .rostro{
    background-color: transparent;
    width: 100%;
}
.content-info .perfil .rostro .cara{
    border-radius: 100%;
}
.content-info .perfil .resumen{
width: 80%;
margin-top: 5%;
}
.parallax{
    width: 100%;
}
.menu-toggle{
    background: transparent;
}
.cabecera{
    width: 100%;
}
.content-info .espacio{
display:none;
}
    }